<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project placeholder">
      <figure class="project__pic">
        <a href="" target="_blank">
          <img src="{{site.baseurl}}/img/featured/placeholder/placeholder.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="" target="_blank">placeholder</a>
        </div>
        <p>placeholder for ongoing project.</p>
      </figcaption>
    </div>
  </div>
</section>
