<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project placeholder">
      <figure class="project__pic">
        <a href="https://groupchat-react.netlify.app/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/groupchat/groupchat.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/qxsim/GroupChat" target="_blank">GroupChat</a>
        </div>
        <p>A beautiful real-time chat web-application built using ReactJS, ExpressJS, NodeJS and Socket.IO.</p>
      </figcaption>
    </div>
  </div>
</section>
